<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Rango</title>
    </head>
    
    <body>
        <h1>Rango says...</h1>
        <p>hello world!</p>
        <img src="{% static "FerrisWheel.jpg" %}" alt="Ferris Wheel" width="600" />
        <table>
            <tr>
                <td>
        {% if categories %}
            <ol>
                {% for category in categories %}
                <li><a href="/rango/category/{{ category.url }}">{{ category.name }}</a> ({{ category.views }}) - /{{ category.url }}</li>
                {% endfor %}
            </ol>
        {% else %}
            <p>{{ boldmessage }}</p>
        {% endif %}
                    <p><a href="/rango/add_category/">Add New Category</a></p>
                </td>
                <td>
        
        {% if pages %}
        <ol>
            {% for page in pages %}
            <li><a href="{{ page.url }}">{{ page.title }}</a> ({{ page.views }}) - {{ page.url }}</li>
            {% endfor %}
        </ol>
        {% else %}
        <p>{{ boldmessage }}</p>
        {% endif %}
                </td>
            </tr>
        </table>
        
        <p><a href="/rango/about/">About</a> </p>
    </body>

</html>